:root{
    --color-text: #00ff33;
    --color-primary: #000000;
    --color-secondary: #000000;
    --color-dark: #000000;
    --color-bg: #000000;



    
    --font-monospace: "Monaspace Krypton";
}